name: single-cell-spring2026
channels:
  - conda-forge
  - bioconda
  - nodefaults
dependencies:
  - python=3.11
  - jupyter
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - scikit-learn
  - scipy
  - scanpy
  - anndata
  - bioconda::umi_tools
